<div>width: {{ dss.screenWidth$ | async }} ⬩ is small: {{ dss.isSmall$ | async }}</div>
<dx-data-grid #dataGrid id="dataGrid" [dataSource]="dataSource" [remoteOperations]="false" [allowColumnReordering]="true"
  [rowAlternationEnabled]="true" [showBorders]="true" [width]="'100%'" (onContentReady)="contentReady($event)">
  <dxo-column-chooser [enabled]='!(dss.isSmall$ | async)'></dxo-column-chooser>
  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-pager [visible]="false"></dxo-pager>
  <dxo-search-panel [visible]="true" [highlightCaseSensitive]="true"></dxo-search-panel>
  <dxo-group-panel [visible]="true"></dxo-group-panel>
  <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
  <dxo-editing [allowAdding]="false" [allowUpdating]="false" [allowDeleting]="false"></dxo-editing>
  <dxo-header-filter [visible]="!(dss.isSmall$ | async)"></dxo-header-filter>
  <dxo-group-panel [visible]="!(dss.isSmall$ | async)"> </dxo-group-panel>
  <dxo-state-storing [enabled]="true" [customLoad]="customLoad" [customSave]="customSave" storageKey="Test"></dxo-state-storing>
  <!--
  <dxo-load-panel></dxo-load-panel>
  <dxo-selection mode="multiple" showCheckBoxesMode="onClick" [allowSelectAll]="true"></dxo-selection>
  <dxo-scrolling mode="virtual"></dxo-scrolling>
  <dxo-summary>
    <dxi-total-item [column]="!(dss.isSmall$ | async) ? 'LotNumber' : 'MobileColumnView'" summaryType="count"> </dxi-total-item>
  </dxo-summary>
  <dxo-filter-builder-popup [(visible)]="filterBuilderVisible"></dxo-filter-builder-popup>
  <dxo-filter-panel [visible]='true'></dxo-filter-panel>
  <dxo-filter-row></dxo-filter-row>
  <dxo-search-panel [visible]="false" [searchVisibleColumnsOnly]="false"></dxo-search-panel>
  <dxo-grouping #expand [autoExpandAll]="false" [allowCollapsing]="true" [contextMenuEnabled]="false"
    expandMode="rowClick"></dxo-grouping>
  <dxo-toolbar [visible]="true"></dxo-toolbar>
  <dxo-state-storing [enabled]="true" type="custom" storageKey="LotRegister" [savingTimeout]='1000'
    cpCacheGrid [cpCustomViewsGrid2]="Views"></dxo-state-storing>
   -->


  <!-- Columns -->
  <!-- <dxi-column dataField="Product" [groupIndex]="0"></dxi-column> -->
  <dxi-column dataField="Product"></dxi-column>
  <dxi-column dataField="Amount" caption="Sale Amount" dataType="number" format="currency"
    alignment="right"></dxi-column>
  <dxi-column caption="Discount %" dataField="Discount" cellTemplate="discountCellTemplate" dataType="number"
    format="percent" alignment="right" [allowGrouping]="false" cssClass="bullet"></dxi-column>
  <dxi-column dataField="SaleDate" dataType="date"></dxi-column>
  <dxi-column dataField="Region" dataType="string"></dxi-column>
  <dxi-column dataField="Sector" dataType="string"></dxi-column>
  <dxi-column dataField="Channel" dataType="string"></dxi-column>
  <dxi-column dataField="Customer" dataType="string" [width]="150"></dxi-column>
  <!-- Mobile View -->
  <dxi-column name='MobileColumnView' dataType="string" [visible]="false" cellTemplate='mobileTemplate' caption='Items'
    [allowFiltering]="false" [showInColumnChooser]="true">
  </dxi-column>

  <!-- Mobile column template -->
  <div *dxTemplate='let itemObj of "mobileTemplate"'>

    <div class='compact-item'>
      <div class='compact-title'>{{itemObj.data.SaleDate | date:'dd/MM/yyyy'}} ⬩ {{itemObj.data.Region}}</div>
      <div class='compact-content'>{{itemObj.data.Sector}} ⬩ {{itemObj.data.Channel}}</div>
    </div>
  </div>

  <div *dxTemplate="let d of 'discountCellTemplate'">
    <div class="chart-cell">
      <dx-bullet [showTarget]="false" [showZeroLevel]="true" [startScaleValue]="0" [endScaleValue]="100"
        [value]="d.value * 100">
        <dxo-size [width]="150" [height]="35"></dxo-size>
        <dxo-tooltip [enabled]="true" [paddingTopBottom]="2" [customizeTooltip]="customizeTooltip">
          <dxo-font [size]="18"></dxo-font>
        </dxo-tooltip>
        <dxo-margin [top]="5" [bottom]="0" [left]="5"></dxo-margin>
      </dx-bullet>
    </div>
  </div>
</dx-data-grid>